.alerts {
  opacity: 0.9;
  position: fixed;
  bottom: 45px;
  right: 20px;
  z-index: 99991;
}

/* ==========================================================================
global alerts
========================================================================== */
.alert-success {
  background-color: var(--status-success-color);
}

.alert-warning {
  background-color: var(--status-warning-color);
}

.alert-error {
  background-color: var(--cranberry);
}

.alert-info {
  background-color: var(--light-blue);

}

.alert {
  color: #ffffff;
  width: 300px;
  font-size: 13px;
  text-align: left;
  line-height: 20px;
  border-radius: 7px;
  font-weight: 700;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #ffffff;
  font-size: 15px;
  opacity: 1;
  cursor: pointer;
}

.check-details {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
}
