<table class="table table-light table-striped table-hover p-4" *ngIf="!!banks">
  <thead>
  <tr class="table-header">
    <th scope="col">{{'bank.name' | translate}}</th>
    <th scope="col">{{'bank.address' | translate}}</th>
    <th *ngIf="canEdit" scope="col">{{'bank.details' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bank of banks">
    <th scope="row">{{bank.name}}</th>
    <td>{{bank.address}}</td>
    <td *ngIf="canEdit">
      <button class="me-3" mat-stroked-button color="primary" (click)="updateClient(bank)">{{'button.update' | translate}}</button>
      <button class="me-3" mat-stroked-button color="warn" (click)="deleteClient(bank.id)">{{'button.delete' | translate}}</button>
      <button class="me-3" mat-stroked-button color="primary" (click)="detailsClient(bank)">{{'button.details' | translate}}</button>
    </td>
  </tr>
</table>

