.home-title {
  font-size: 3rem;
  font-family: fantasy;
  margin-left: 10rem;
  padding-top: 5rem;
  color: #ffffff;
}

.background-color {
  background-color: rgba(61, 50, 50, 0.59);
  padding: 1rem;
  border: 1px solid white;
  border-radius: 3%;
  width: max-content;
}

.table {
  text-align: center;
  font-size: 2rem;
}
