<table class="table table-light table-striped table-hover p-4" *ngIf="!!clients">
  <thead>
  <tr class="table-dark">
    <th scope="col">{{'client.name' | translate}}</th>
    <th scope="col">{{'client.address' | translate}}</th>
    <th scope="col">{{'client.pesel' | translate}}</th>
    <th scope="col">{{'client.can_get_loan' | translate}}</th>
    <th scope="col">{{'client.details' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients">
    <th scope="row">{{client.first_name}} {{client.surname}}</th>
    <td>{{client.address}}</td>
    <td>{{client.pesel}}</td>
    <td>{{client.can_get_loan | canGetLoan}}</td>
    <td>
      <button class="me-3" mat-stroked-button color="primary" (click)="updateClient(client)">{{'button.update' | translate}}</button>
      <button class="me-3" mat-stroked-button color="warn" (click)="deleteClient(client.id)">{{'button.delete' | translate}}</button>
      <button class="me-3" mat-stroked-button color="primary" (click)="detailsClient(client)">{{'button.details' | translate}}</button>
    </td>
  </tr>
</table>

