.login-container {
  height: 100%;
  align-items: center;
  opacity: 1!important;
  border-radius: 5px;
  width: 400px;
  display: block;
  margin: 0 auto;
  padding-top: 5rem;
}

form {
  width: 100%;
}

.login-toolbar {
  justify-content: center;
  border-radius: .3rem .3rem 0 0;
}

button {
  width: max-content;
  //background-color: var(--light-blue) !important;
  padding: 1.5rem 2rem ;
}

mat-form-field {
  width: 100%;
}
