<div class="h-100 login-background">
  <form class="w-50 h-100" *ngIf="!isLoggedIn; else loggedIn">
    <div class="login-container">
      <mat-toolbar class="login-toolbar" color="primary">{{'login.logg-header' | translate}}</mat-toolbar>
      <mat-card class="p-3">
        <form class="d-flex flex-column align-items-center mb-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-icon matPrefix>person_outline</mat-icon>
            <mat-label>{{'register.username' | translate}}</mat-label>
            <input autofocus type="text" matInput placeholder="Login" formControlName="username">
            <mat-error *ngIf="usernameControl.hasError('required')">
              {{'form.required' | translate}}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <mat-label>{{'register.email' | translate}}</mat-label>
            <input type="password" autocomplete="false" matInput formControlName="password">
            <mat-error *ngIf="passwordControl.hasError('required')">
              {{'form.required' | translate}}
            </mat-error>
          </mat-form-field>
          <button class="text-uppercase" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">{{'button.login' | translate}}</button>
        </form>
        <span style="font-size: 15px">{{'login.register-redirect' | translate}}
          <a routerLink='/sign-up'>{{'button.register' | translate}}</a></span>
      </mat-card>
    </div>
  </form>
</div>

<ng-template #loggedIn>
  <div style="color: #263238; font-size: 4rem; font-family: 'Calisto MT',serif; text-align: center">
    {{'login.loggedIn' | translate}}
  </div>
</ng-template>
