<div class="modal-header">
  <h4>{{(clientModel ? 'header.edit' : 'header.add') | translate}} {{'client.to-client'| translate}}</h4>
  <button class="btn-close" type="button" (click)="onDismiss()"></button>
</div>
<div class="modal-body pb-0">
  <form class="pt-2 ps-5 pe-5">
    <div class="login-container">
      <form class="d-flex flex-column align-items-center mb-4" [formGroup]="clientForm">
        <mat-form-field>
          <mat-label>{{'client.pesel' | translate}}</mat-label>
          <input autofocus type="text" matInput formControlName="pesel">
          <mat-error *ngIf="peselControl.hasError('required')">
            {{'form.required' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'client.first_name' | translate}}</mat-label>
          <input autofocus type="text" matInput formControlName="first_name">
          <mat-error *ngIf="firstNameControl.hasError('required')">
            {{'form.required' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'client.surname' | translate}}</mat-label>
          <input autofocus type="text" matInput formControlName="surname">
          <mat-error *ngIf="surnameControl.hasError('required')">
            {{'form.required' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'client.address' | translate}}</mat-label>
          <input autofocus type="text" matInput formControlName="address">
          <mat-error *ngIf="addressControl.hasError('required')">
            {{'form.required' | translate}}
          </mat-error>
        </mat-form-field>


        <mat-label>{{'client.can_get_loan' | translate}}</mat-label>
        <mat-button-toggle-group class="w-100 mt-1 mb-3" name="fontStyle" aria-label="Font Style"
                                 formControlName="can_get_loan">
          <mat-button-toggle class="w-50" value="0">
            {{'no' | translate}}
          </mat-button-toggle>
          <mat-button-toggle class="w-50" value="1">
            {{'yes' | translate}}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </form>
    </div>
  </form>
</div>
<div class="modal-footer justify-content-between">
  <button mat-stroked-button color="warn" (click)="onDismiss()">{{'button.cancel' | translate}}</button>
  <button mat-raised-button color="primary" (click)="saveClient()" [disabled]="clientForm.invalid">{{'button.save' | translate}}</button>
</div>
