<div class="page">
  <h1 class="mb-4">{{'client.header' | translate}}</h1>
  <button class="mb-2" mat-raised-button color="primary"
          (click)="updateClient()">
    {{'client.add-client' | translate}}
  </button>
  <app-client-table *ngIf="clients" [clients]="clients"
                    (updateClientEmitter)="updateClient($event)"
                    (deleteClientEmitter)="deleteClient($event)"
                    (detailsClientEmitter)="detailsClient($event)"></app-client-table>
</div>
