<table class="table main table-light table-striped table-hover p-4" *ngIf="!!accounts">
  <thead>
  <tr class="table-header">
    <th scope="col">{{'account.account_number' | translate}}</th>
    <th scope="col">{{'account.creation_date' | translate}}</th>
    <th scope="col">{{'account.bonuses' | translate}}</th>
    <th scope="col">{{'account.client_id' | translate}}</th>
    <th scope="col">{{'account.bank_id' | translate}}</th>
    <th *ngIf="canEdit" scope="col">{{'account.details' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of accounts">
    <th scope="row">{{account.account_number}}</th>
    <td>{{account.creation_date}}</td>
    <td>{{account.bonuses | aproove}}</td>
    <td>{{account.clientX!.first_name}} {{account.clientX!.surname}}</td>
    <td>{{account.bankX!.name}}</td>
    <td *ngIf="canEdit">
      <button class="me-3" mat-stroked-button color="primary"
              (click)="updateClient(account)">{{'button.update' | translate}}</button>
      <button class="me-3" mat-stroked-button color="warn"
              (click)="deleteClient(account.id)">{{'button.delete' | translate}}</button>
      <button class="me-3" mat-stroked-button color="primary"
              (click)="detailsClient(account)">{{'button.details' | translate}}</button>
    </td>
  </tr>
</table>

