.mat-mdc-form-field {
  width: 100%;
}

::ng-deep.mdc-text-field--disabled .mdc-text-field__input {
  color: var(--primary) !important;
  border: #90a4ae;
}

.details {
  width: 50%;
}

.flex-column {
  flex-direction: column;
}
